@import "animations";

@mixin Btn {
  @include           center;
  @include           shadow;
  margin           : 5px;
  padding          : 0px 20px;
  border           : 1px solid $color-items;
  border-radius    : 10px;
  background-color : #fff;
  font-size        : 1rem;

  &:hover {
    @include           animateBtn;
    background-color : $color-items;
  }
}

@mixin aboutContact {
  @include           shadow;
  margin-top       : 30px;
  padding          : 10px;
  color            : $color-txt;
  border           : 1px solid $color-items;
  border-radius    : 15px;
  background-color : #fff;
  font-size        : 1rem;
}

@mixin center {
  display         : flex;
  align-items     : center;
  justify-content : center;
}

@mixin gradientPrefix {
  background-image : -webkit-gradient(linear, right top, left bottom, from(#ffffff), color-stop(#f7f1ff), color-stop(#f5e2ff), color-stop(#f7d1ff), to(#fcbffc));
  background-image : -webkit-linear-gradient(
                       right top,
                       #ffffff,
                       #f7f1ff,
                       #f5e2ff,
                       #f7d1ff,
                       #fcbffc
                     );
  background-image : -o-linear-gradient(
                       right top,
                       #ffffff,
                       #f7f1ff,
                       #f5e2ff,
                       #f7d1ff,
                       #fcbffc
                     );
  background-image : linear-gradient(
                       to left bottom,
                       #ffffff,
                       #f7f1ff,
                       #f5e2ff,
                       #f7d1ff,
                       #fcbffc
                     );
}

@mixin menu {
  display         : flex;
  justify-content : center;
  list-style      : none;
}

@mixin menu-item {
  border           : 1px solid $color-items;
  border-radius    : 10px;
  background-color : #fff;
  text-align       : center;
  justify-content  : center;
}

@mixin menu-item-sub {
  &:hover>.submenu {
    @include     animateSubmenu;
    z-index    : 3;
    display    : flex;
    position   : absolute;
    margin-top : 35px;
    flex-flow  : column;
    list-style : none;
  }

  &:hover {
    background-color : $color-items;
  }

  a {
    color           : $color-txt;
    text-decoration : none;
    font-size       : 1rem;
  }

  .submenu {
    display    : none;
    margin-top : 12px;

    .submenu-item {
      @include           shadow;
      width            : 250px;
      margin           : auto;
      padding          : 5px;
      border           : 1px solid #fff;
      border-radius    : 10px;
      background-color : $color-items;

      a {
        font-size : 1rem;

        &:hover {
          color : $color-txt-hover;
        }
      }
    }
  }
}

@mixin photoInfo {
  width           : 100%;
  padding         : 10px;
  border-radius   : 15px;
  text-align      : center;
  text-decoration : none;
}

@mixin reset {
  box-sizing  : border-box;
  margin      : 0;
  padding     : 0;
  font-family : Arial,
                sans-serif;
}

@mixin shadow {
  -moz-box-shadow    : 11px 13px 9px 4px rgba(162,45,162,0.50);
  -webkit-box-shadow : 11px 13px 9px 4px rgba(162,45,162,0.50);
  box-shadow         : 11px 13px 9px 4px rgba(162,45,162,0.50);
}
