@import "grid";
@import "colors";
@import "mixins";
@import "fonts";
@import "menu";

* {
  @include reset;
  font-family: 'Itim', Arial, sans-serif;
  font-size: 20px;
}

body {
  background-color: $color-bgd;
}

.logo {
  @include center;
}

.main-slider{
  ul{
    list-style: none;
  }

  li{
    display: none;
  }
  button {
    font-size: 3rem;
  }
  .visible{
    display: inline-block;
  }
}
