@import
  "../colors",
  "../mixins",
  "../animations";

.about {
  @include   aboutContact;
  width    : 50%;

  .about-photo {
    @include              shadow;
    width               : 300px;
    height              : 200px;
    float               : left;
    margin              : 10px;
    border-radius       : 15px;
    background-image    : url("../../pics/chef.png");
    background-position : center;
    background-size     : cover;
  }

  .about-header {
    font-size : 2em;
  }

  .about-info {
    margin-top : 30px;
    padding    : 10px;
    text-align : justify;
    font-size  : 1em;
  }
}

// media queries

@media
  screen
  and (max-width : 1024px) {
  .about {
    display         : flex;
    width           : 100%;
    flex-flow       : column;
    justify-content : center;
    order           : 1;

    .about-photo {
      width  : 50%;
      float  : none;
      margin : auto;
      order  : 2;
    }

    .about-header {
      width      : 100%;
      text-align : center;
      order      : 1;
    }

    .about-info {
      margin-top : 20px;
      order      : 3;
    }
  }
}

@media
  screen
  and (max-width : 460px) {
  .about {
    display   : flex;
    min-width : 340px;
    flex-wrap : wrap;
    order     : 1;

    .about-photo {
      width : 300px;
      order : 2;
    }

    .about-header {
      width      : 100%;
      text-align : center;
      font-size  : 1.5em;
      order      : 1;
    }

    .about-info {
      margin-top : 20px;
      order      : 3;
    }
  }
}
