@import
  "../colors",
  "../mixins",
  "../animations";

.footer {
  display          : flex;
  width            : 100%;
  margin-top       : 30px;
  color            : $color-txt;
  border-top       : 2px solid $color-txt;
  background-color : #fff;
  flex-wrap        : wrap;
  justify-content  : center;
}

.leftSide {
  display         : flex;
  width           : 75%;
  color           : $color-txt;
  justify-content : space-around;
}

.rightSide {
  display         : flex;
  width           : 25%;
  flex-wrap       : wrap;
  justify-content : space-around;
}

.item {
  margin     : 10px 0;
  text-align : left;
  list-style : none;

  &:hover {}

  a {
    color           : $color-txt;
    text-decoration : none;

    &:hover {
      padding          : 0 10px;
      color            : $color-txt-hover;
      border           : 1px solid $color-items;
      border-radius    : 10px;
      background-color : $color-items;
      font-size        : 1rem;
    }
  }
}

.media {
  width      : 50%;
  margin-top : 20px;
  text-align : center;
  font-size  : 2rem;

  p {
    margin-top : 5px;
    font-size  : 1rem;
  }

  a {
    text-decoration : none;

    &:hover {
      color : $color-txt;
    }
  }
}

.column {
  padding : 40px 0;

  .column-header {
    text-transform : uppercase;
    font-size      : 1.5rem;
    font-weight    : bold;
  }
}

.copyright {
  display : flex;
  padding : 10px 0;
  order   : 9;

  a,
  p {
    color           : $color-txt;
    text-align      : center;
    text-decoration : none;
    font-size       : 0.8rem;
  }
}

.media-icon {
  &:hover {
    @include animateBtn;
  }
}

.fa-facebook-square {
  color : #3b5998;
}

.fa-twitter-square {
  color : #1da1f2;
}

.fa-google-plus-square {
  color : #dd4b39;
}

.fa-envelope {
  color : $color-txt;
}

@media
  screen
  and (max-width : 990px) {
  .leftSide {
    width     : 100%;
    flex-wrap : wrap;
    order     : 2;
  }

  .listColumn {
    display         : flex;
    width           : 50%;
    padding         : 0 30px;
    align-content   : center;
    justify-content : center;
  }

  .rightSide {
    width : 100%;
    order : 1;
  }

  .media {
    width : 25%;
  }
}

@media
  screen
  and (max-width : 550px) {
  .leftSide {
    width     : 100%;
    flex-wrap : wrap;
    order     : 2;
  }

  .listColumn {
    display         : flex;
    width           : 100%;
    padding         : 0 30px;
    align-content   : center;
    justify-content : flex-start;
  }

  .rightSide {
    width : 100%;
    order : 1;
  }

  .media {
    width : 25%;
  }
}
