@import
  "../colors",
  "../mixins",
  "../animations";

$list   : 1,2,3,4,5,6,7,8,9,10,11,12;

/* Photo list */

@each $var in $list {
  .photo-#{$var} {
    @include              shadow;
    height              : 340px;
    // margin              : 10px;
    border-radius       : 5%;
    background-image    : url("../pics/gallery/photo-#{$var}.jpg");
    background-position : center;
    background-size     : cover;
  }
}

.gallery {
  .gallery-header {
    z-index   : 2;
    color     : $color-txt;
    font-size : 2rem;
  }

  .gallery-row {
    display         : flex;
    justify-content : space-between;

    .gallery-link {
      text-decoration : none;

      .gallery-photo {
        display     : flex;
        border      : 1px solid $color-items;
        align-items : flex-end;

        &:hover {
          @include gentleShow;
        }

        .photo-info {
          @include           photoInfo;
          color            : $color-txt;
          background-color : rgba(249, 139, 249, 0.6);
          cursor           : pointer;
        }

        .photo-info--new {
          @include           photoInfo;
          color            : $color-txt;
          background-color : $color-txt-hover;
        }

        .photo-info--hit {
          @include           photoInfo;
          color            : #fff;
          background-color : $color-bgd;
        }

        .photo-info--last {
          @include           photoInfo;
          color            : #fff;
          background-color : rgba(162, 45, 162, 0.6);
        }
      }
    }
  }
}

// media queries

@media
  screen
  and (max-width : 1120px) {
  .gallery {
    .gallery-header {
      text-align : center;
      font-size  : 2rem;
    }

    .gallery-row {
      flex-wrap       : wrap;
      justify-content : center;
      .gallery-link{
        display: flex;
        min-width : 400px;
        .gallery-photo {
          min-width : 400px;
          &:hover {
            @include gentleShow2;
          }
        }
      }
    }
  }
}

@media
  screen
  and (max-width : 560px) {
  .gallery {
    .gallery-header {
      text-align : center;
      font-size  : 1.5rem;
    }

    .gallery-row {
      flex-wrap       : wrap;
      justify-content : center;
      .gallery-link{
        display: flex;
        min-width : 340px;
        margin    : 10px;
        padding: 0;
        .gallery-photo {
          min-width : 340px;

          &:hover {
            @include noGentleShow;
          }
        }
      }

    }
  }
}
