@import
  "../colors",
  "../mixins",
  "../animations";

.main-slider {
  @include     center;
  margin-top : 50px;

  .slider {
    z-index : 2;
    display : flex;
  }
}

.owl-stage-outer {
  @include shadow;
}

.owl-item {
  img {
    border-radius : 10px;
  }
}

.owl-nav {
  display         : inline-flex;
  position        : absolute;
  right           : 30px;
  bottom          : 30px;
  color           : $color-txt;
  justify-content : space-between;

  .owl-prev {
    @include Btn;
  }

  .owl-next {
    @include Btn;
  }
}
