@import
  "../colors",
  "../mixins",
  "../animations";

.box {
  display         : flex;
  margin-top      : 50px;
  align-items     : center;
  justify-content : space-around;

  .box-item {
    @include           shadow;
    display          : flex;
    height           : 400px;
    color            : $color-txt;
    border           : 10px double $color-txt;
    border-radius    : 10px;
    background-color : #fff;
    text-align       : center;
    flex-direction   : column;
    justify-content  : center;
    cursor           : pointer;

    &:hover {
      color            : #fff;
      border           : 10px double #fff;
      background-color : $color-txt;
    }

    .box-item--tit {
      font-size : 2.5rem;
    }

    .box-item--par {
      font-size : 1rem;
    }

    .box-item--btn {
      @include   Btn;
      margin   : 20px auto;
      padding  : 10px;
      color    : $color-txt;
      cursor   : pointer;
      text-decoration: none;
    }

    .icon {
      display   : inline-block;
      width     : 100%;
      font-size : 5rem;
    }
  }
}

.welcome {
  display         : flex;
  margin-top      : 50px;
  color           : $color-txt;
  text-align      : center;
  flex-direction  : column;
  justify-content : center;

  .welcome-header {
    margin    : 1rem;
    color     : $color-txt;
    font-size : 3rem;
  }

  .welcome-motto {
    margin : 1rem;
  }

  .welcome-motto--sub {
    font-size : 1.5rem;
  }

  .welcome-btn {
    @include   Btn;
    margin   : 20px auto;
    padding  : 15px 45px;
    color    : $color-txt;
    cursor   : pointer;
    text-decoration: none;
  }
}
